/* common style for this website  */
* {
    margin: 0;
}

nav h2 {
    color: black;
}

nav,
.container {
    margin: 15px 240px;
}


body {
    font-family: 'Open Sans', sans-serif;
}

button {
    text-align: center;
    border: none;
    margin-right: 19px;
    border-radius: 25px;
    margin-top: 25px;
}

button>a {
    display: inline-block;
    width: 100px;
    padding: 15px 20px;
    text-align: center;
}

/***** header section design  */
li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #3C354F;
}

nav,
.nav-icon,
.nav-option,
.joint-options,
.li-with-social {
    display: flex;
    align-items: center;
}

#utube,
#tictok {
    width: 20px;
    margin-left: 10px;
}

.li-with-social {
    justify-content: center;
    background-color: #a29fa946;
    padding: 10px 30px 10px 0px;
    border-radius: 5px;
    margin-left: 30px;
    width: 175px;
}

.nav-option {
    justify-content: center;
}

nav {
    justify-content: space-between;
}

.joint-options>li {
    margin-left: 30px;
}

.nav-icon>img {
    width: 55px;
    height: 25px;
    margin-right: 15px;
}

.nav-icon span {
    color: rgb(191, 75, 137)
}

/* header banner section  */
.header-banner {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info>h2 {
    font-size: 2rem;
    font-weight: 700;
}

.banner-info>h1 {
    color: #F948B2;
    font-size: 4rem;
    font-weight: 800;
}

.banner-info>p {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #f948b2ca;
}

.btn-primary>a {
    color: white;
}

.btn-second {
    background-color: #82c3d7;
}

.btn-second>a {
    color: white;
}

/* Online Games Funny Videos part  */

.fun-container {
    margin-top: 110px;
    text-align: center;
}

.fun-container>h2 {
    font-size: 2.5rem;
    color: black;
}

.fun-container span {
    color: #bb4ebb
}

.fun-box>p {
    color: #534C64;
    text-align: left;
    margin-top: 15px;
}

.fun-boxs {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.fun-box {
    width: calc(25% - 32px);
}

.fun-box>img {
    width: 100%;
}

/* play and not download section design  */
.play-container {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
}

.play-left-sec {
    max-width: 50%;
    margin: 215px 0px 0px 215px;

}

.play-left-sec h2 {
    color: black;
}

.play-left-sec>p {
    margin-top: 15px;
}

#play-head {
    color: #F948B2;
    font-weight: 700;

}

#little-img {
    position: absolute;
    right: 480px;
    bottom: -100px;

}

/* all games list section syles  */

.gamelist-container {
    margin-top: 220px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.game-box {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.box-6,
.box-7,
.box-8,
.box-9 {
    margin-left: 30px;
}

/* footer section style  */
footer {
    background-color: #3C354F;
}

footer>img {
    width: 55px;
    height: 25px;
    margin-right: 15px;
}

footer span {
    color: rgb(191, 75, 137)
}

footer p,
h2 {
    color: white;
}

footer {
    background-color: #0B0223;
}

.footer-container {
    margin-top: 110px;
    padding-top: 50px;
    padding-bottom: 90px;
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-socials img {
    background-color: white;
}

.img-logo,
.all-events,
.all-socials,
.all-terms {
    display: flex;
}

.img-logo {
    gap: 15px;
    margin: 50px 0 20px 0;

}

.all-events {
    gap: 15px;
}


.img-logo>img {
    width: 45px;

}

.all-events>p {
    font-size: 12px;
}

.all-socials {
    padding: 20px 20px;
    width: 25px;
    justify-content: center;
    column-gap: 25px;
    align-items: center;
}

.all-terms {
    padding: 20px 20px;
    justify-content: center;
    column-gap: 25px;
    align-items: center;
    font-size: 12px;
}

#footnote {
    color: white;
    font-size: 12px;
    margin: 10px 120px;
}



/* hove effect use in design  */

.box-3:hover {
    border: 2px solid rgb(191, 75, 137);
    border-radius: 50px;
}





/* responsive part of the site  */

/* **navigation part done for small device  */
@media screen and (max-width:556px) {

    nav,
    .nav-option,
    .joint-options {
        flex-direction: column;
        justify-content: center;
    }

    .nav-icon,
    .joint-options>li {
        margin-bottom: 15px;
    }
}

/* **Header Banner part done for small device  */
@media screen and (max-width:556px) {
    .banner-container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-info {
        padding: 50px 30px;
        margin-left: 20px;
    }

    .btn-box {
        display: flex;
    }
}

/* Online Games Funny Videos part responsive for small device */
@media screen and (max-width:576px) {
    .fun-container {
        margin: 0;
        text-align: center;
    }

    .fun-boxs {
        flex-direction: column;
    }

    .fun-box img,
    p {
        width: 400px;
    }
}


/* play and not download part responsive for small device  */
@media screen and (max-width:576px) {
    .play-container {
        flex-direction: column;

    }

    #little-img {
        position: absolute;
        right: -160px;
        bottom: -100px px;
    }

    .play-left-sec {
        width: 100%;
        margin: 0;
    }

    .play-left-sec p,
    h2 {
        width: 400px;
    }
}


@media screen and (max-width:576px) {
    .gamelist-container {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .box-6,
    .box-7,
    .box-8,
    .box-9 {
        margin-left: 0px;
    }

}


/* responsive for footer section  */










/* responsive style for tablet device  */

@media screen and (min-width:577px) and (max-width:992px) {

    .fun-boxs {
        display: grid;
        grid-template-columns: 400px 400px;
    }

    .fun-box img,
    p {
        width: 350px;
    }

}